
<div class="card highlight-card card-small">
    <img src="https://pbs.twimg.com/profile_images/1480651514926485512/wNt3luOD_400x400.jpg" class="profile-img" />
  
    <span style="font-size: 23px;">Conócete en política</span>
  </div>
  <img src="https://img.freepik.com/premium-vector/multiethnic-group-people-society-multicultural-community-portrait-citizens-young-adult-elder-people-illustration_102902-1805.jpg?w=2000" style="width: 100%; height: auto;">

  <br>
            <p style="font-size: medium;">
                ¡Bienvenido/a! Esta encuesta tiene como objetivo ayudarte a entender tus ideas políticas. 
                Las preguntas que encontrarás a continuación están diseñadas para explorar tus opiniones 
                sobre diversos temas políticos y sociales. Al responderlas con sinceridad, podrás obtener 
                una idea más clara de tus creencias políticas y valores fundamentales. Tus respuestas serán 
                anónimas y solo se utilizarán para fines estadísticos y de investigación. Agradecemos tu tiempo 
                y participación en esta encuesta. 
            </p>
            <h3 style="font-weight: bold;">¡Comencemos!</h3>
            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el papel del Estado en la economía?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El Estado debe tener un papel activo y regulador en la economía.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El Estado debe tener un papel limitado en la economía y fomentar la libre empresa.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El Estado no debe intervenir en la economía.
                </mat-radio-button>
                <mat-radio-button value="4">
                    El Estado debe ser responsable de todos los sectores económicos.
                </mat-radio-button>
            </mat-radio-group><br>

            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre la redistribución de la riqueza?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    La redistribución de la riqueza es esencial para reducir la desigualdad y proteger a los menos afortunados.
                </mat-radio-button>
                <mat-radio-button value="2">
                    La redistribución de la riqueza puede ser aceptable en algunos casos, pero no debe ser una política generalizada.
                </mat-radio-button>
                <mat-radio-button value="3">
                    La redistribución de la riqueza es un obstáculo para la creación de riqueza y la libertad económica.
                </mat-radio-button>
                <mat-radio-button value="4">
                    No estoy seguro.
                </mat-radio-button>
            </mat-radio-group><br>
            
            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el papel del gobierno en la regulación de los derechos de las personas?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El gobierno debe tener un papel activo en la protección de los derechos humanos y las libertades civiles.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El gobierno debe tener un papel limitado en la protección de los derechos humanos y las libertades civiles.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El gobierno no debe intervenir en la protección de los derechos humanos y las libertades civiles.
                </mat-radio-button>
                <mat-radio-button value="4">
                    El gobierno debe ser responsable de todos los derechos humanos y las libertades civiles.
                </mat-radio-button>
            </mat-radio-group><br>
            
            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre la inmigración?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    La inmigración es esencial para la diversidad cultural y económica de un país.
                </mat-radio-button>
                <mat-radio-button value="2">
                    La inmigración puede ser aceptable en algunos casos, pero debe ser limitada.
                </mat-radio-button>
                <mat-radio-button value="3">
                    La inmigración es un obstáculo para la seguridad nacional y la estabilidad económica.
                </mat-radio-button>
                <mat-radio-button value="4">
                    No estoy seguro.
                </mat-radio-button>
            </mat-radio-group><br>
            
            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el cambio climático?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El cambio climático es un problema grave que requiere acciones inmediatas y decisivas.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El cambio climático es un problema, pero no debería ser una prioridad en la política pública.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El cambio climático no es un problema grave y no requiere acciones inmediatas y decisivas.
                </mat-radio-button>
                <mat-radio-button value="4">
                    No estoy seguro.
                </mat-radio-button>
            </mat-radio-group><br>
            
            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el papel del gobierno en la educación?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El gobierno debe tener un papel activo en la provisión de la educación y garantizar la igualdad de oportunidades.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El gobierno debe tener un papel limitado en la educación y permitir la libre elección de la escuela.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El gobierno no debe intervenir en la educación y permitir la libre elección de la escuela.
                </mat-radio-button>
                <mat-radio-button value="4">
                    El gobierno debe ser responsable de todos los aspectos de la educación.
                </mat-radio-button>
            </mat-radio-group><br>

            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el derecho al aborto?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    Las mujeres deben tener el derecho a decidir sobre su propio cuerpo, incluyendo el derecho al aborto.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El aborto debe estar disponible solo en casos específicos, como el riesgo para la vida de la madre o la violación.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El aborto debe ser ilegal en todas las circunstancias.
                </mat-radio-button>
                <mat-radio-button value="4">
                    No estoy seguro.
                </mat-radio-button>
            </mat-radio-group><br>

            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el sistema de salud?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El acceso a la atención médica es un derecho fundamental y el gobierno debe garantizar la atención médica universal.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El sistema de salud debe ser una combinación de atención médica pública y privada, con un enfoque en la eficiencia y la reducción de costos para garantizar que todos puedan acceder a la atención médica necesaria.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El acceso a la atención médica es importante, pero debe ser provisto por el sector privado
                </mat-radio-button>
                <mat-radio-button value="4">
                    El acceso a la atención médica debe ser provisto por el sector privado y/o individualmente por cada persona, sin intervención del gobierno.
                </mat-radio-button>
            </mat-radio-group><br>
            
            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el derecho al porte de armas?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El derecho al porte de armas debe ser protegido como una libertad individual.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El derecho al porte de armas debe estar disponible solo para propósitos específicos, como la defensa propia o la caza.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El porte de armas debe ser ilegal en todas las circunstancias.
                </mat-radio-button>
                <mat-radio-button value="4">
                    No estoy seguro.
                </mat-radio-button>
            </mat-radio-group><br>

            <label id="example-radio-group-label" style="font-weight: bolder;">
                ¿Cuál es su opinión sobre el matrimonio entre personas del mismo sexo?
            </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            ><br>
                <mat-radio-button value="1">
                    El matrimonio entre personas del mismo sexo debe ser legalizado y protegido como un derecho civil.
                </mat-radio-button>
                <mat-radio-button value="2">
                    El matrimonio es una institución sagrada y solo debe ser entre un hombre y una mujer.
                </mat-radio-button>
                <mat-radio-button value="3">
                    El matrimonio es una cuestión privada y el gobierno no debe estar involucrado.
                </mat-radio-button>
                <mat-radio-button value="4">
                    No estoy seguro.
                </mat-radio-button>
            </mat-radio-group><br>

            
              <ng-template #dialogTemplate let-dialogRef="dialogRef">
                <div style="padding: 16px;">
                  <p>Gracias por responder la encuesta, próximamente te estaremos dando tu perfil político junto a información adicional acerca de la política y cómo aportar como ciudadano.</p>
                </div>
                <div mat-dialog-actions>
                  <button mat-button (click)="dialogRef.close()">Cerrar</button>
                </div>
              </ng-template>
              