<div id="diag" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div style="padding: 16px;">
      <h2 mat-dialog-title>Gracias por responder la encuesta</h2>
      <p>Próximamente te estaremos dando tu perfil político junto a información adicional acerca de la política y cómo aportar como ciudadano.</p>
    </div>
    <div mat-dialog-actions>
        <div style="display: flex; justify-content: center;">
            <button mat-raised-button  (click)="dialogRef.close()" style="color: rgb(255, 255, 255); background-color: blueviolet; width: 4rem;">Cerrar</button>
          </div>
    </div>
  </div> 
