<div style="overflow-y: auto;">
<h1 class="my-heading">Tus Resultados</h1>
<div style="margin: 15px;">
<!-- Placeholder variables for counter values -->
<mat-grid-list cols="3" rowHeight="15:1">
  <mat-grid-tile>
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium;">Respuestas de izquierda: {{ data.izquierda }}   </p><br>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium;">Respuestas de centro: {{ data.centro }}   </p><br>
  </mat-grid-tile>
  <mat-grid-tile>
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium;">Respuestas de derecha: {{ data.derecha }}</p>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="15:1">
  <mat-grid-tile>
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium;">Respuestas de centro - izquierda: {{ data.centro_izquierda }}</p>
    
  </mat-grid-tile>
  <mat-grid-tile>
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium;">Respuestas de centro derecha: {{ data.centro_derecha }}</p>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>

<p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: bolder ;font-size: large; text-align: center;">{{ data.profile }}</p>
<p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium;">{{ this.explicacion }}</p>

<h3 style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: bold ;font-size: medium;">Estás son 3 propuestas de participación ciudadana para una persona con tus preferencias</h3>
<mat-grid-list cols="3" rowHeight="10:1" >
  <mat-grid-tile>
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: bold ;font-size: medium; ">{{ this.titpropuesta1 }}</p>

    
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="col-4">
        <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: bold ;font-size: medium;">{{ this.titpropuesta2 }}</p>

      </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="col-4">
      <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: bold ;font-size: medium;">{{ this.titpropuesta3 }}</p>

    
    </div>

  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="3" >
  <mat-grid-tile>
  
    <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium; margin: 10px;">{{ this.propuesta1 }}</p>
    
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="col-4">

        <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium; margin: 10px;">{{ this.propuesta2 }}</p>

      </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="col-4">

      <p style="font-family: 'VAGRoundedStd',sans-serif,Roboto; font-weight: light ;font-size: medium; margin: 10px;">{{ this.propuesta3 }}</p>
    
    </div>

  </mat-grid-tile>
</mat-grid-list>


    </div>
  </div>