<h1 class="my-heading">Tus Resultados</h1>
<div style="margin: 15px;">
<!-- Placeholder variables for counter values -->
<p>Respuestas de izquierda: {{ data.izquierda }}</p>

<p>Respuestas de izquierda: {{ data.izquierda }}</p>
<p>Respuestas de centro - izquierda: {{ data.centro_izquierda }}</p>
<p>Respuestas de centro: {{ data.centro }}</p>
<p>Respuestas de centro derecha: {{ data.centro_derecha }}</p>
<p>Respuestas de derecha: {{ data.derecha }}</p>

<p>{{ data.profile }}</p>
<p>{{ this.explicacion }}</p>

<h3>Estás son 3 propuestas de participación ciudadana para una persona con tus preferencias</h3>
<div class="container">
    <div class="row">
      <div class="col-4">
        <p>{{ this.propuesta1 }}a</p>

      </div>
      <div class="col-4">
        <p>{{ this.propuesta2 }}a</p>

      </div>
      <div class="col-4">
        <p>{{ this.propuesta3 }}a</p>

      </div>
    </div>
  </div>
</div>