.my-heading {
    background-color:#f7931e;
    color: white;
    text-align: center;
  
  }
  .scrollable-dialog {
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Adjust the value as needed */
  }
  